.App {
  background-color: #222;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: solid 2px white;
  margin-bottom: 20px;
}

.App-content {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.App-question {
  color: #02b5a4;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: .9rem;
  line-height: 1.1rem;
  margin-bottom: .5rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
